* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.t-center {
  text-align: center; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-upper {
  text-transform: uppercase; }

.t-italic {
  font-style: italic; }

.f-100 {
  font-weight: 100; }

.f-200 {
  font-weight: 200; }

.f-300 {
  font-weight: 300; }

.f-400 {
  font-weight: 400; }

.f-500 {
  font-weight: 500; }

.f-600 {
  font-weight: 600; }

.f-700 {
  font-weight: 700; }

.f-800 {
  font-weight: 800; }

.f-900 {
  font-weight: 900; }

.f-bold {
  font-weight: bold; }

.f-bolder {
  font-weight: bolder; }

.f-lighter {
  font-weight: lighter; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.p-fixed {
  position: fixed; }

.no-marg {
  margin: none; }

.no-padd {
  padding: none; }
