//  Oublie pas de faire un gulp watch , sinon tu verra pas de resultat en enregistrant
//  git commit -a -m "ton commentaire"

// CSS pour mobile
@media screen and (max-width: 640px) { }

// CSS pour PC (en dessous)

#footer {
    background-color: green;
    display: grid;
}

#footer-col-1 {
   
}


.titrefooter {
font-size:1.2rem;
color: white;
}
